.flowaddition{
    margin-left: 70px;
    margin-top: 10px;
    align-items: center;
}

.button{
    margin-left: 70px;
    border: 1px solid;
    color: blue;
    position: absolute;
    top: 27%;
    left: 21.5%;
    z-index: 4;
}

.css-1u2mxbp {
    min-height: 0 !important;
}