.flowaddition{
    margin-left: 70px;
    margin-top: 10px;
    align-items: center;
}

.button{
    margin-left: 70px;
    border: 1px solid;
    color: blue;
}

.css-1u2mxbp {
    min-height: 0 !important;
}