.monthlyFlowTable{
    margin-left: 9%;
    margin-top: 6%;
    padding-right: 17%;
    display: flex;
}

element.style {
    margin-left: 297px !important;
    margin-top: 70px !important;
    margin-right: 341px !important;
}